body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
}

html,
body {
  width: 100%;
  height: 100%;
}

.tabler-icon {
  color: #616161;
  stroke-width: 1.5;
}

.shiki {
  padding: 24px;
  margin-bottom: 0;
  overflow: scroll;
}
